html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: rgb(0, 0, 0);
  font-family: 'Karla', sans-serif;
  font-size: 18px;
  line-height: 1.8em;
}

.nav-scrolled {
  position: fixed;
}

nav, 
nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  background: #333;
  height: 5rem;
  transition: .3s box-shadow;
  z-index: 50;
}

.nav-scrolled {
  top: 0;
  left: 0;
  width: 100%;
}

.scroll-shadow {
  box-shadow: 0 0 10px #333;
}

nav ul {
  width: 90%;
  justify-content: space-around;
  list-style-type: none;
}

nav ul a {
  text-decoration: none;
  color: #eee;
  transition: .3s color;
}

nav ul a:hover {
  color: #fff;
}

#rain {
  top: 80px;
}


.scrollButton:hover {
  opacity: .5;
}

audio { 
  display:none;
}

.home-img,
.experience-img,
.salesforce-img,
.projects-image,
.education-image,
.socials-image {
  position: relative;
  opacity: 0.8;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.home-img {
  background-image: url('img/floral.jpg');
  height: 100%;
}

.experience-img {
  background-image: url('img/experience.jpg');
  min-height: 500px;
  height: 50%;
}

.salesforce-img {
  background-image: url('img/Salesforce_logo.png');
  min-height: 500px;
  height: 50%;
}

.projects-image {
  background-image: url('img/background.jpg');
  min-height: 500px;
  height: 50%;
  opacity: 1;
}

.education-image {
  background-image: url('img/usfsm.jpg');
  background-size: cover;
  height: 50%;
}

.socials-image {
  background-image: url('img/wood_background.jpg');
  min-height: 500px;
  height: 50%;
}

.section {
  height: auto;
  padding: 30px 50px;
  background: #FFFFFF
}


.ptext {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 30px;
  letter-spacing: 8px;
  font-family: 'Handlee', cursive;
}

.ptext .border {
  background-color: rgba(17, 17, 17, 0.664);
  color: #fff;
  padding: 20px;
  border-radius: 20px;
}

@media(max-width:568px) {
  .pimg1,
  .pimg2,
  .pimg3 {
    background-attachment: scroll;
  }
}

header {
  height: 100%;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background: rgba(229, 229, 229, 0.2);
  z-index: 35;
}
header .content {
  position: relative;
  display: block;
  color: #FFFFFF;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  text-shadow: 0px 0px 5px #000000;
  display: inline-block;
  text-align: center;
  transform: translateX(-50%) translateY(-50%);
  border: 5px solid #fff;
  padding: .5em 3em;
  background-color: rgba(0,0,0,.8);
  z-index: 45;
}

.section-detail {
  padding: 30px;
  height: auto;
  overflow: auto;
}
.section-image {
  width: 25%;
  height: auto;
  float:left
}
.section-image img {
  max-width:40%;
  max-height:40%;
  float: right;
}
.section-info {
  width: 55%;
  height: auto;
  float: left;
  padding-left: 50px;
}
.section-info h1 {
  margin-block-start: 0px;
}
#certifications {
  width: 100%;
  text-align: center;
  margin: 0 auto;
}
.certifications-images {
  width: 100%;
  float:left
}
.certifications-images img {
  max-width: 15%;
  padding: 0px 20px;
}
.title h1 {
  padding: 20px; 
  text-align:center;
}

.title h1:before {
  content: "";
  display:  inline-block;
  border: 1px solid black;
  width: 5%;
  margin: 0px auto;
  margin-bottom: 5px;
  margin-right: 5px;
}
.title h1:after {
  content: "";
  display:  inline-block;
  border: 1px solid black;
  width: 5%;
  margin: 0px auto;
  margin-bottom: 5px;
  margin-left: 5px;
}
